

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">
    批量添加服务器
    </h4>
</div>

<form enctype="multipart/form-data" action="importserverinfo.html" method="post" class="form-horizontal" role="form">{% csrf_token %}
    <div class="modal-body">
        <input type="file" name="file"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        关闭
        </button>
        <button id='importButton' type="submit" class="btn btn-primary" value="upload">
        提交
        </button>
    </div>
</form>
{#<script>#}
{#    $importButton = $('#importButton');#}
{##}
{#    $(function () {#}
{#        $importButton.click(function () {#}
{#            alert()#}
{#        })#}
{#    })#}
{#</script>#}

