

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">
    修改服务器信息
    </h4>
</div>

{#{% if messages %}#}
{#<ul class="messages">#}
{#    {% for message in messages %}#}
{#    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% endif %}#}

<form id='modifyPost' method="post" class="form-horizontal" role="form">{% csrf_token %}
    <div class="modal-body">
        {% for field in serverInfo %}
            <div class="form-group">
                <label for="formInstance" class="col-sm-3 control-label">
                    {{ field.label }}
                </label>
                <div class="col-sm-9">
                {{ field }}{{ field.help_text }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modifyCloseButton">
        关闭
        </button>
        <button type="submit" class="btn btn-primary" id="modifyPostButton">
        提交
        </button>
    </div>
</form>
<script>
    $(function () {
        $('#modifyPostButton').click(function () {
            var selectd_id = $table.bootstrapTable('getSelections')[0]['id'];
            $('#modifyPost').attr('action', "/devops/modifyserverinfo/"+ selectd_id + '/')
        })
    })
    
{#    $(function () {#}
{#        $('#modifyCloseButton').click(function () {#}
{#            window.location.href="tables.html";#}
{#        })#}
{#    })#}
</script>

