{% extends 'base.html' %}

{% block title %}tables{% endblock %}

{% block link %}
    <link rel="stylesheet" href="/static/bootstrap-table-develop/dist/bootstrap-table.css">
{% endblock %}

{% block script %}
    <script src="/static/bootstrap-table-develop/dist/bootstrap-table.js"></script>
    <script src="/static/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js"></script>
{% endblock %}

{% block subPagesActive %}"active"{% endblock %}

{% block ariaExpanded %}"true"{% endblock %}

{% block tablesActive %}"active"{% endblock %}

{% block collapse %}"collapse in"{% endblock %}

{% block main %}
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Server List</h3>
        </div>
        <div class="panel-body">
            <div id="toolbar" class="btn-group" >
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" href="/devops/addserverinfo.html"  data-trigger="hover" title="添加服务器">
                    <i class="glyphicon glyphicon-plus" ></i>
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"></div>
                    </div>
                </div>
                <!-- 原始-模态框（Modal）BEGIN -->
                <!-- div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    添加服务器信息
                                </h4>
                            </div>
                            <form action="addserverinfo.html" method="post" class="form-horizontal" role="form">{% csrf_token %}
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="formInstance" class="col-sm-3 control-label">实例</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formInstance" name="formInstance" placeholder="请输入实例名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formHostname" class="col-sm-3 control-label">主机名</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="formHostname" class="form-control" id="formHostname" placeholder="请输入主机名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formIP" class="col-sm-3 control-label">IP</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formIP" name="formIP" placeholder="请输入服务器IP">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formComputer" class="col-sm-3 control-label">宿主机</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formComputer" name="formComputer" placeholder="请输入宿主机IP">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formCpucore" class="col-sm-3 control-label">CPU</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formCpucore" name="formCpucore" placeholder="请输入CPU核心数量">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formMemory" class="col-sm-3 control-label">内存</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formMemory" name="formMemory" placeholder="请输入内存大小">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formSystem" class="col-sm-3 control-label">系统</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formSystem" name="formSystem" placeholder="请输入系统名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formSystemdisk" class="col-sm-3 control-label">系统盘</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formSystemdisk" name="formSystemdisk" placeholder="请输入系统盘容量">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formDatadisk" class="col-sm-3 control-label">数据盘</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formDatadisk" name="formDatadisk" placeholder="请输入数据盘容量">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formUser" class="col-sm-3 control-label">使用者</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formUser"name="formUser" placeholder="请输入使用者或组别名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formUse" class="col-sm-3 control-label">用途</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formUse" name="formUse" placeholder="请输入服务器用途">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formRemark" class="col-sm-3 control-label">备注</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="formRemark" name="formRemark" placeholder="请输入备注信息">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    提交
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div -->
                <!-- 原始-模态框（Modal）END -->
                <button id='modifyButton' type="button" class="btn btn-default" data-target="#modifyModal" data-trigger="hover"  title="修改服务器信息">
                    <i class="glyphicon glyphicon-pencil" ></i>
                </button>
                <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"></div>
                    </div>
                </div>
                <button id='deleteButton' type="button" class="btn btn-default" data-trigger="hover"  title="删除服务器信息">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#importModal" href="/devops/importserverinfo.html"  data-trigger="hover" title="导入列表">
                    <i class="glyphicon glyphicon-import"></i>
                </button>
                <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"></div>
                    </div>
                </div>
            </div>
            <table id="serverlist" class="display table table-hover" data-toggle="table"
                   data-url = '/devops/serverinfo'
                   data-method = 'get'
                   data-pagination = 'true'
                   data-side-pagination = 'server'
                   data-page-list = '[10, 20, 50, 100, 200]'
                   data-search = 'true' data-mobile-responsive = 'true' data-search-on-enter-key = "true"
                   data-show-refresh = 'true'
                   data-show-columns = 'true'
                   data-show-toggle = 'true'
                   data-page-size = 10
                   data-toolbar="#toolbar"
                   data-striped = 'true'>
                <thead>
                    <tr>
                    <th data-field = 'state' data-checkbox = 'true'></th>
                    <th data-formatter = 'runningFormatter'>序号</th>
{#                    <th data-field = 'id' data-sortable = 'true'>ID</th>#}
                    <th data-field = 'instance' data-sortable = 'true'>实例</th>
                    <th data-field = 'hostname' data-sortable = 'true'>主机名</th>
                    <th data-field = 'ip' data-sortable = 'true'>IP</th>
                    <th data-field = 'hostcomputer' data-sortable = 'true'>宿主机</th>
                    <th data-field = 'cpucore' data-sortable = 'true'>CPU</th>
                    <th data-field = 'memory' data-sortable = 'true'>内存</th>
                    <th data-field = 'system' data-sortable = 'true'>系统</th>
                    <th data-field = 'systemdisk' data-sortable = 'true'>系统盘</th>
                    <th data-field = 'datadisk' data-sortable = 'true'>数据盘</th>
                    <th data-field = 'user' data-sortable = 'true'>使用者</th>
                    <th data-field = 'use' data-sortable = 'true'>用途</th>
                    <th data-field = 'remark' data-sortable = 'true'>备注</th>
                    <th data-field = 'alter_time' data-sortable = 'true'>修改时间</th>
                    <th data-field = 'create_time' data-sortable = 'true'>创建时间</th>
{#                    <th data-field="action" data-formatter="actionFormatter">操作</th>#}
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <script>
    $.ajaxSetup({headers: {'X-CSRFToken': '{{ csrf_token }}'}});

{#    function actionFormatter(value, row, index){#}
{#        return ['<a class="edit ml10" href="/devops/modifyserverinfo.html" title="Edit">',#}
{#        '<i class="glyphicon glyphicon-edit"></i>',#}
{#        '</a>',#}
{#        '<a class="remove ml10" href="javascript:void(0)" title="Remove">',#}
{#        '<i class="glyphicon glyphicon-remove"></i>',#}
{#        '</a>'].join('');#}
{#    }#}

    var $table = $('#serverlist'),
        $button = $('#modifyButton'),
        $delbutton = $('#deleteButton');


    $(function () {
        $button.click(function () {
            var h = document.getElementById('modifyButton')
            if(h.getAttribute('href') !== '')
            {
                h.removeAttribute('href');
                h.removeAttribute('data-toggle')
                $('#modifyModal').on("hidden.bs.modal",function (e) {
                    $(this).removeData();//清除modifyModal缓存信息，避免选中-打开-关闭-选中-打开后，仍为先前传值生成的页面
                });
            }
            if(($table.bootstrapTable('getSelections')).length === 1)
            {
                var selectd_id = $table.bootstrapTable('getSelections')[0]['id'];
                $button.attr('data-toggle', "modal");
{#                $.post('/devops/modifyserverinfo.html', {'value':JSON.stringify($table.bootstrapTable('getSelections'))});#}
{#                alert($table.bootstrapTable('getSelections')[0]['id'])#}
                $button.attr('href', "/devops/modifyserverinfo/"+ selectd_id + '/')
            }
            else
            {
{#                alert(JSON.stringify($table.bootstrapTable('getSelections')))#}
{#                alert(JSON.stringify($table.bootstrapTable('getSelections')[0]['id']));#}
{#                alert($.map($table.bootstrapTable('getSelections'), function (row) {#}
{#            return row.id}));#}
{#                $.post('/devops/modifyserverinfo.html', {'value': 0})#}
                alert('需要选择一行进行编辑')
            }
        });
    });

    $(function () {
        $delbutton.click(function () {
{#            var ids = $table.bootstrapTable('getSelections')#}
             var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id;
        });
             console.log(ids)
            if(ids.length == 0){
                alert('请选择数据');
                return;
            }
            if(confirm("确认删除吗?")){
{#                var delList = [];#}
{#                for (var i=0; i<ids.length; i++ ){#}
{#                    delList.push(ids[i]);#}
                    $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                })
                    $.post('/devops/deleteserverinfo',{'delList': ids}, function (state) {
                    alert(state)
                })
                }

{#            }#}
        })
    })
    </script>
{% endblock %}