<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>Opts Tools</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/login.css" media="all" />

    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="login" >

    <section>
        <h1><strong>Fairlink</strong> Opts</h1>
        <form method="POST" >{% csrf_token %}
            <input type="text" placeholder="Email" name="username" />
            <input placeholder="password" name="password" type="password"/>
            <button class="blue">Login</button>
        </form>
{#        <p><a href="#">Forgot your password?</a></p>#}
        {% if not user %}
            <p style="font-size: 14px; color: #db3a26">用户名或密码错误</p>
        {% endif %}
    </section>

</body>
</html>