<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}opts{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/main.css">
    {% block link %}{% endblock %}
    <!-- SCRIPT -->
    <script src="../static/jquery-3.2.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../static/main.js"></script>
    {% block script %}{% endblock %}
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="#"><img src="../static/img/logo.png" alt="FAIRLINK Logo" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>
                </div>
                <!--form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                        <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                    </div>
                </form-->
                <!--div class="navbar-btn navbar-btn-right">
                    <a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                </div-->
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="fa fa-envelope-square"></i>
                                <span class="badge bg-danger" style="font-size: 9px">99</span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                                <li><a href="#" class="more">See all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> <span>Help</span> <i class="icon-submenu fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Basic Use</a></li>
                                <li><a href="#">Working With Data</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Troubleshooting</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle" aria-hidden="true"></i> <span>Samuel</span> <i class="icon-submenu fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-futbol-o"></i> <span>My Profile</span></a></li>
                                <li><a href="#"><i class="fa fa-futbol-o"></i> <span>Message</span></a></li>
                                <li><a href="#"><i class="fa fa-futbol-o"></i> <span>Settings</span></a></li>
                                <li><a href="#"><i class="fa fa-futbol-o"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="../home/" class={% block homeActive %}""{% endblock %}><i class="fa fa-home"></i> <span>Home</span></a></li>
                        <li><a href="#" class={% block aActive %}""{% endblock %}><i class="fa fa-home"></i> <span>a</span></a></li>
                        <li><a href="#" class={% block bActive %}""{% endblock %}><i class="fa fa-home"></i> <span>b</span></a></li>
                        <li><a href="#" class={% block cActive %}""{% endblock %}><i class="fa fa-home"></i> <span>c</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class={% block subPagesActive %}"collapsed"{% endblock %}><i class="fa fa-connectdevelop"></i> <span>运维</span> <i class="icon-submenu fa fa-angle-down"></i></a>
                            <div id="subPages" class={% block collapse %}"collapse"{% endblock %}>
                                <ul class="nav">
                                    <li><a href="../devops/" class={% block tablesActive %}""{% endblock %}></i>Tables</a></li>
                                    <li><a href="#" class={% block dActive %}""{% endblock %}>d</a></li>
                                    <li><a href="#" class={% block eActive %}""{% endblock %}>e</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!--MAIN-->
        <div class="main">
            <div class="main-content">
                <div class="container-fluid">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
        <!--END MAIN-->
        <div class="clearfix"></div>
    </div>
    <!--END WRAPPER-->
</body>
</html>